<div class="row detail-piece" ng-if="coin">
	<div class="col-md-12">
		<h2>{{coin.name}} {{coin.weight}}</h2>
		<div class="best-price"><small>A partir de </small><br/>{{bestStore.price}} €</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-6" style="margin-top: 20px;">
				<img ng-src="images/{{coin.imagesDir}}/front.png" ng-mouseleave="" ng-mouseover=""/>
				<div class="best-prime"><small>Prime de </small><br/>{{coin.currentBestPrime}} %</div>
			</div>
			<div class="col-md-6">
				<h3>Caractéristiques</h3>
				<table class="col-md-12 table">
					<tr>
						<td>Metal</td><td>{{coin.metal}}</td>
					</tr>
					<tr>
						<td>Pays</td><td>{{coin.country}}</td>
					</tr>
					<tr>
						<td>Poids fin</td><td>{{coin.weight}}</td>
					</tr>
					<tr>
						<td>Titre</td><td>{{coin.titre}}&permil;</td>
					</tr>
					<tr>
						<td>Diamètre</td><td>{{coin.width}}mm</td>
					</tr>
					<tr>
						<td>Epaisseur</td><td>{{coin.thickness}}mm</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12 best-store">
				<h3>Meilleur prix sur <a ng-href="{{getStore(bestStore.store).url}}/{{bestStore.coinUri}}" target="_blank">{{bestStore.store}}</a></h3>
				<a ng-href="#/admin/coins/detail/{{coin._id}}">admin</a>
			</div>
			<div class="col-md-12 store-details" data-ng-repeat="price in coin.prices">
				<h3>{{price.store}}</h3>
				<div class="row store-years">
					<table class="col-md-12 table">
					<tr><th>Année</th><th>Prix</th><th>Prime</th></tr>
					<tr data-ng-repeat="year in price.years" ng-if="year.price != undefined" ng-class="{bestPrice:year.price == bestStore.price}">
						<td>{{year.year != 0 ? year.year : 'indéfinie'}}</td>
						<td>
							<a ng-href="{{getStore(price.store).url}}/{{year.uri}}" target="_blank">{{year.price}} €</a> 
							<a ng-click="addToBasket(coin, year.uri)">Ajouter au panier</a>
						</td>
						<td>{{getPrime(coin, year.price)}}%</td>
					</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
