 <div class="row">
  <div class="col-md-2 sideBar">
    <div class="row">
      <div class="col-md-12">
        Chercher par nom <input type="text" ng-model="searchCoin" class="form-control"/>
      </div>
      <!-- <div class="col-md-12 title">
        Matière
      </div>
      <div class="col-md-12">
        <div ng-repeat="(metal, selected) in filterMetal">
          <input type="checkbox" ng-model="filterMetal[metal]" /> {{metal}}
        </div>
      </div> -->
      <div class="col-md-12 title">
      	Pays (<a ng-click="clickAll(filterCountry)">tous</a>)
      </div>
      <div class="col-md-12">
        <div ng-repeat="(country, selected) in filterCountry">
        	<input type="checkbox" ng-model="filterCountry[country]" /> <a ng-click="clickOnly(country, filterCountry);">{{country}}</a>
        </div>
      </div>
      <div class="col-md-12 title">
        Poids (<a ng-click="clickAll(filterWeight)">tous</a>)
      </div>
      <div class="col-md-12">
        <div ng-repeat="(weight, selected) in filterWeight">
          <input type="checkbox" ng-model="filterWeight[weight]" /> <a ng-click="clickOnly(weight, filterWeight);">{{weight}}</a>
        </div>
      </div>
      <div class="col-md-12 title">
        Magasins
      </div>
      <div class="col-md-12">
        <div ng-repeat="store in stores">
          <input type="checkbox" ng-model="filterStore[store.name]" /> {{store.name}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-10">
     <div class="row form-inline">
      <div class="col-md-2">
        <label class="form-group">Trier par </label>
        <div class="form-group"><select ng-model="orderCoins" class="form-control"><option value="currentBestPrice">Prix</option><option value="currentBestPrime">Prime</option></select></div>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 blocPiece" ng-repeat="coin in coins | filter:searchCoin | byStore:filterStore | orderBy:orderCoins" ng-if="filterCountry[coin.country]==true && filterMetal[coin.metal]==true && filterWeight[coin.weight]==true">
        <div class="row">
          <div class="col-md-12 top-bordered title" ng-class="{gold:coin.metal=='Or', silver:coin.metal=='Argent'}">
            <!-- <input type="checkbox" ng-model="coin.enabled" disabled="disabled" />  -->
            <a ng-href="#/coins/detail/{{coin._id}}">{{coin.name}} {{coin.weight}}</a>
          </div>
          <div class="col-md-7" ng-class="{gold:coin.metal=='Or', silver:coin.metal=='Argent'}">
            <img ng-src="images/{{coin.imagesDir}}/front.png" width="100"/>
          </div>
          <div class="col-md-5 bordered top-bordered price" ng-class="{gold:coin.metal=='Or', silver:coin.metal=='Argent'}">
            <span>{{coin.bestPrice(coin)}} €</span><br/>Prime : {{coin.prime(coin)}}%<br/><br/>
            Métal : {{coin.metal}}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <a ng-href="#/admin/coins/new">Ajouter</a>
      </div>
    </div>
  </div>
</div>

