 <div class="row">
  <div class="col-md-12">
    Liste des pièces <input type="text" ng-model="searchCoin" />
  </div>
  <div class="col-md-12" ng-repeat="coin in coins | filter:searchCoin" ng-if="filterCountry[coin.country]==true">
    <input type="checkbox" ng-model="coin.enabled" disabled="disabled" /> <a ng-href="#/coins/detail/{{coin._id}}">{{coin.name}}</a> ({{findBestPrice(coin)}} €)
  </div>
  <div class="col-md-12">
    <a ng-href="#/coins/new">Ajouter</a>
  </div>

  <div class="col-md-12">
  	Pays
    <div class="col-md-12" ng-repeat="(country, coin) in coinsBycountries">
    	<input type="checkbox" ng-model="filterCountry[country]" /> {{country}}
  </div>
</div>