 <div class="row">
  <div class="col-md-2 sideBar">
    <div class="row">
      <div class="col-md-12 filter">
        <div class="inner-filter">
          <div class="title">
            Chercher par nom
          </div>
          <div>
            <input type="text" ng-model="searchCoin" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="col-md-12 filter">
        <div class="inner-filter">
          <div class="title">
            Pays (<a ng-click="clickAll(filterCountry)">tous</a>)
          </div>
          <div ng-repeat="(country, selected) in filterCountry | orderBy:country">
            <input type="checkbox" ng-model="filterCountry[country]" /> <a ng-click="clickOnly(country, filterCountry);">{{country}}</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 filter">
        <div class="inner-filter">
          <div class="title">
            Poids (<a ng-click="clickAll(filterWeight)">tous</a>)
          </div>
          <div ng-repeat="(weight, selected) in filterWeight | orderBy:weight">
            <input type="checkbox" ng-model="filterWeight[weight]" /> <a ng-click="clickOnly(weight, filterWeight);">{{weight}}</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 filter">
        <div class="inner-filter">
          <div class="title">
            Magasins (<a ng-click="clickAll(filterStore)">tous</a>)
          </div>
          <div ng-repeat="store in stores | orderBy:store.name">
            <input type="checkbox" ng-model="filterStore[store.name]" /> <a ng-click="clickOnly(store.name, filterStore);">{{store.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-10">
     <div class="row orders">
      <div class="col-md-4 form-inline">
        <div class="form-group">
          <label>Trier par </label>
          <select ng-model="orderCoins" class="form-control"><option value="currentBestPrice">Prix</option><option value="currentBestPrime">Prime</option></select>
        </div>
      </div>
      <div class="col-md-4">
      Dernière mise à jour : {{lastUpdate}}
      </div>
      <div class="col-md-4">
      <!-- Panier : {{getBasket().coins.length}} pièces ({{getBasket().total()}} €) -->
      <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Panier : {{getBasket().coins.length}} pièce(s), {{getBasket().total()}} € <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" style="min-width: 210px;">
            <li ng-repeat="bCoin in getBasket().coins">
              <a ng-click="deleteFromBasket($index)" style="display: inline;padding: 2px;"><span class="glyphicon glyphicon-remove" style="color:red"></span></a> <span>{{bCoin.name}} : {{bCoin.price}} €</span>
            </li>
            <li class="divider"></li>
            <li>Total : {{getBasket().total()}} €</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-3 blocPiece" ng-repeat="coin in coins | filter:searchCoin | byStore:filterStore | orderBy:orderCoins" ng-if="filterCountry[coin.country]==true && filterMetal[coin.metal]==true && filterWeight[coin.weight]==true">
        <div class="row">
          <a ng-href="#/coins/detail/{{coin._id}}">
            <div class="col-md-12 image">
              <img ng-src="images/{{coin.imagesDir}}/front.png" />
              <div class="prime">{{coin.prime(coin)}} %</div>
              <div class="details">{{coin.prices.length}} mag.</div>
            </div>
          </a>
          <div class="col-md-12 name">
            {{coin.name}} ({{coin.weight}})
          </div>
          <div class="col-md-12 price color1">
            {{coin.bestPrice(coin)}} €
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <a ng-href="#/admin/coins/new">Ajouter</a>
      </div>
    </div>

  </div>
</div>

