* {
	font-family: 'Oswald', sans-serif;
}

.logo {
	font-size:2.3em;
	font-weight:bold;
	padding-top:13px;
}

.pre-header {
	background:#455A64;
	font-size:1.1em;
	width:100%;
	color:#ccc;
}

.header {
	height:70px;
	background:#263238;
}

.color1 {
	color:#D84315;
}
.color2 {
	color:white;
}
.color3 {
	color:#EDCF5A;
}
.color4 {
	color:white;
}

.nav {
	margin-top:40px;
}
.nav ul li {
	display:inline;
	padding: 10px;
	background-color: white;
}

.nav ul li a {
	color: #263238;
}
.nav ul li a:hover {
	color:#FF7043;
}

a {
	cursor:pointer;
}

.bourse {
	margin-top:25px;
	color:white;
	text-align: right;
}

.sideBar {
/*	color:white;*/
/*	background:#455A64;*/
	min-height:768px;
	border-right:1px solid #B0BEC5;
}
.sideBar a{
	color:#455A64;
	text-decoration: underline;
}

.sideBar .title {
	padding:2px;
	background:#FFFFFF;
	margin-bottom:10px;
}

.sideBar .filter {
	padding:7px;
}

.sideBar .inner-filter {
	border:1px solid #E0E0E0;
	padding:15px;
}

.orders {
	margin-top:10px;
}

.blocPiece {
	min-height:195px;
	padding: 5px 20px 0 30px;
}

.blocPiece .image:hover {
	box-shadow: 0 0 0 2px #B0BEC5;
}

.blocPiece .image {
	border:1px solid #B0BEC5;
	padding:5px;
	text-align:center;
}

.blocPiece .image img {
	max-width:100px;
}

.blocPiece .prime {
	position: absolute;
	top: 5px;
	right: -5px;
	background: #EDCF5A;
	padding: 5px;
	color:#455A64 !important;
}

.blocPiece .details {
	position: absolute;
	bottom: 5px;
	left: -5px;
	background: #B0BEC5;
	padding: 5px;
	color:#455A64;
}

.blocPiece .name {
	text-align:center;
	padding: 0;
}

.blocPiece .price {
	text-align:center;
	font-size: 1.5em;
}

.detail-piece img {
	max-width:200px;
}

.best-price {
	position: absolute;
	top: 1px;
	right: 185px;
	background: #D84315;
	color: white;
	font-size: 1.6em;
	padding: 0px 8px 6px 10px;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}
.best-price small, .best-prime small {
	font-size: 65%;
}

tr.bestPrice {
	background: #FF7043;
	font-weight: 700;
}

tr.bestPrice a {
	color:white;
}

.best-prime {
	position: absolute;
	bottom: -25px;
	left: -10px;
	font-weight: 700;
	background: #EDCF5A;
	color: #455A64;
	font-size: 1.6em;
	padding: 0px 8px 6px 10px;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}

.store-years {
	padding-left: 15px;
}

.store-details {
	border: 1px solid grey;
	margin-bottom:15px;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

footer {
	background:#FF7043;
	padding:15px;
}

footer a {
	color:#263238;
}
footer a:hover {
	color:#263238;
}
footer .footer {
	padding-left:30px;
}

.footer-bar {
	border-right:1px solid #000;
	min-height:100px;
}